<div class="ui grid">
  <div class="twelve wide column">
    <h1 class="ui header"> {{shoppinglist.title}} </h1>
    <div class="ui divider"></div>

    <div class="ui grid">
      <div class="six wide column">
        <h3>Ersteller</h3>
        <div class="creator">
          {{shoppinglist.creator['firstname']}} {{shoppinglist.creator['lastname']}} <br/>
          <span *ngIf="authService.isLoggedIn()">{{shoppinglist.creator['address']}}</span>
        </div>

        <span><b>Erledigt bis: {{ shoppinglist?.bought_until | date: 'longDate' }}</b></span>
        <div class="ui divider"></div>
        <div class="two column">
          <button [routerLink]="'/lists'" class="ui button standard">Zurück zu den Einkaufslisten</button>
          <br/><br/>
          <button *ngIf="authService.isLoggedIn() && !shoppinglist.helper && !authService.isHelper()"
                  [routerLink]="['/../../admin', shoppinglist?.id]" class="ui button standard">Liste bearbeiten
          </button>
          <br/><br/>
          <button *ngIf="authService.isLoggedIn() && !shoppinglist.helper && !authService.isHelper()"
                  class="ui red button" (click)="removeList()">
            Liste löschen
          </button>

        </div>
      </div>

      <div class="four wide column">
        <!-- Abfragen ob Helfer schon da -->
        <span *ngIf="!shoppinglist.helper">
          <button *ngIf="authService.isLoggedIn() && this.authService.isHelper()" (click)="claimList()"
                  class="ui button takeList">Liste übernehmen!</button>
        </span>
        <div class="helper" *ngIf="shoppinglist.helper">
          <h3>Helfer</h3>
          <i>{{shoppinglist.helper['firstname']}} {{shoppinglist.helper['lastname']}}</i>
          <div class="preis" *ngIf="shoppinglist.price"> Gesamtpreis: {{shoppinglist?.price}} </div>
          <br/><br/>
          <!-- Preis hinzufügen -->
          <button [routerLink]="['/../../admin', shoppinglist?.id]"
                  *ngIf="!shoppinglist.price && this.authService.isHelper()"
                  class="ui button standard">Preis hinzufügen
          </button>
        </div>
      </div>

      <div class="ui grid">
        <div>
          <h3>Einkaufsliste</h3>
          <div class="listentry" *ngFor="let entry of shoppinglist.listentries">
            <h4>{{ entry.description }}</h4>
            Menge: {{ entry.amount }} <br/>
            Maximaler Preis: {{ entry.max_price }} € (pro Stück)
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="six wide column" *ngIf="authService.isLoggedIn() && shoppinglist.feedbacks">
    <div class="formwidth">
      <h2>Kommentare</h2>

      <div class="listentry" *ngFor="let feed of shoppinglist.feedbacks">
        <h4>{{ feed['title'] }}</h4>
        {{ feed['body'] }} <br/>
        <i>Kommentar von: {{ feed.user_id }} am {{feed.created_at | date: 'longDate'}}</i>
      </div>

      <form class="ui large form" *ngIf="feedbackForm" [formGroup]="feedbackForm" (ngSubmit)="submitForm()">

        <div class="field">
          <label>Kommentar</label>
          <textarea rows="4" cols="10" formControlName="body" placeholder="Kommentar"></textarea>
        </div>

        <button type="submit" class="ui button">Speichern</button>

      </form>

    </div>
  </div>
</div>




